body {
	margin-left: 2rem;
	margin-right: 2rem;
}

header {
	display: flex;
	place-content: center;
}

#firstsection {
	display: grid;
	/* grid-template-columns: repeat(2, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

	gap: 2em;
}

article {
	border: 1px solid black;
}

footer {
	display: flex;
	place-content: center;
	border: 1px solid black;
}

p {
	max-width: 65ch;
}
